body {
    font-family: "Inter"; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #3c3939; /* Цвет фона веб-страницы */
    color: #9c9a9a; /* Цвет основного текста */ 
}
h1 {
    color: #8bc08b; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    
}

@keyframes color-change {
    0% {
      color: rgb(231, 230, 151);
    }
  
    50% {
      color: rgb(219, 157, 176);
    }
  
    100% {
      color: rgb(152, 255, 149);
    }
}

h1 {
    animation: color-change 3s infinite;
}
